* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  min-height: 100vh;
  line-height: 27px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
main,
footer {
  border: 1px solid red;
}
.header {
  background-color: papayawhip;
}

.section-profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}

.section-title.main-title {
  text-align: center;
  font-size: 36px;
  color: darkolivegreen;
}

.section-profile-subtitle {
  color: darkolivegreen;
  position: relative;
}

.section-profile-subtitle::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0px;
  width: 250.8px;
  height: 10px;
  background-color: antiquewhite;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 36px;
  text-decoration: none;
  color: hsl(33, 5%, 32%);
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 2s 500ms;
}

.nav-link:hover {
  background-color: darkorange;
}

.cv-photo {
  border-radius: 50%;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: papayawhip;
}

.main-container {
}
